[user]
    email = emzfaye@gmail.com
    name = Emma Faye
    autocrlf = false
    
[init]
	defaultBranch = main

[diff]
    tool = vscode
    # tool = vimdiff

[difftool "vscode"]
    cmd = code --wait --diff $LOCAL $REMOTE

# [difftool "vimdiff"]
#     cmd = nvim -d "$LOCAL" "$REMOTE"

[alias]
  com = !git switch "$(git config init.defaultBranch)"

# [difftool]
#     prompt = true
# [diff]
#     tool = nvimdiff
# [difftool "nvimdiff"]
#     cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""

# [diff]
#     tool = vimdiff
# [merge]
#     tool = vimdiff
# [difftool]
#     prompt = false